@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-main-bg: #FFFFFF;
  --color-white-main-color: #f5f5f5;
  --color-main-bg-dark: #292929;
  --font-raleway: "Raleway";
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-main-bg dark:bg-main-bg-dark text-main-bg-dark dark:text-white-main-color font-raleway transition-colors duration-500 ease-in-out;
  }
}

tr:has(+ tr:hover) {
  @apply border-b-transparent;
}
